*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    text-align: center;
}

.pokemon {
    display: inline-block;
    text-align: center;
}

.pokemon img {
    display: block;
}