body {
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: #faf0e6;
}

.header {
    background: #33cccc;
    padding: 1em;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: end;
}

.nav a {
    padding: 0.5em;
}

.container-main {
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 85vh;
}

.col-left {
    padding: 1em;
    background: #33ccccb2;
    text-align: left;
}

.col-right {
    background: #faf0e6;
    border: 2px solid black;
}

.content-main {
    background: #ffc0cb;
    margin: 1em;
}

form div {
    padding: 0.5em;
}

.container-form {
    display: table;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.form-body {
    display: table-cell;
    vertical-align: middle;
}

.container.discussion {
    padding: 1em;
    border: 2px solid black;
}

.container.discussion>div>* {
    display: inline-block;
}

.container.discussion>button {
    display: block;
}

.error {
    color: #a94442;
    background: #f2dede;
    border: 1px solid #a94442;
    border-radius: 5px;
}

.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    border-radius: 5px;
}